@import "tailwindcss";

body,
html,
#root {
  height: 100%;
  width: 100%;
  user-select: none;
}

@keyframes caret-blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.caret-blink::after {
  content: "|";
  margin-left: 4px;
  animation: caret-blink 1s step-end infinite;
}